<table class="table table-hover">
    <tbody>
      <td>
        <div class="row">
          <div class="col-md-11">
            <span>Translate:  </span>
            <span><b>{{selectedTranslation?.originalText}}</b></span>            
          </div>
          <div class="col-md-1">
              <button type="button" class="btn btn-default" aria-label="Left Align" data-bind="visible: selectedTranslation" (click)="setSameText()">
                  <fa-icon [icon]="faArrowsAltV"></fa-icon>
              </button>
          </div>       
          <input id="spanish" type="text" class="form-control" [(ngModel)]="transText"/>
          <button type="button" id="save" class="btn btn-primary btn-block" [disabled]="isDisabled()">Save</button>                    
        </div>
      </td>
    </tbody>
  </table>